body {
  background-position: center;
}
.content {
  height: 65vh;
  width: 50%;
}
.submit {
  width: 100%;
}
.chatlist-container {
  width: 30%;
  background: #f5f5f5;
}
.add-fab {
  position: absolute;
  bottom: 16px;
  right: 71%;
}
.chat-container {
  width: 70%;
}
.chat-header-container {
  height: 10vh;
}
.chatItem-container {
  min-height: 75px;
}
.start-image {
  margin: 10px;
  width: 90%;
  padding: 5%;
}
.message {
  width: fit-content;
  background-color: #182533;
  border-radius: 20px;
  max-width: 70%;
  margin: 10px 0px;
  padding: 10px 20px;
}
.message.sent {
  background-color: #2b5278;
}
.media {
  width: 100%;
  padding: 15px 5px;
}
