body {
  background-position: center;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content {
  height: 65vh;
  width: 50%;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  padding: 16px;
  box-shadow: grey 0px 0px 10px;
}
.title {
  text-align: center;
}
.chat-image {
  width: 90%;
  padding: 5%;
}
.submit {
  width: 100%;
}
.google-signin {
  width: fit-content;
  color: black;
  background-color: white;
}
.google-logo {
  margin: 0px 10px;
}
.message-container {
  margin-right: 40%;
  min-height: 60px;
  display: flex;
  align-items: flex-end;
}
.user-image {
  background-position: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px 0px 10px 10px;
}
.message-container.user {
  margin-left: 40%;
  margin-right: 0;
}
.text-container {
  background-color: gray;
  border-radius: 30px 30px 30px 5px;
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding: 15px 15px 0px 15px;
}
.text-container.user {
  background-color: lightblue;
  border-radius: 30px 30px 5px 30px;
  margin: 10px;
  padding: 15px 15px 0px 15px;
}

.message {
  color: white;
}
