body {
  background-position: center;
}
.chatlist-container {
  width: 30vw;
  background: #f5f5f5;
}
.add-fab {
  position: absolute;
  bottom: 16px;
  right: 71%;
}
.chat-container {
  width: 70vw;
}
.chatItem-container {
  min-height: 75px;
}
.message {
  width: fit-content;
  background-color: #182533;
  max-width: 70%;
  margin: 10px 0px;
  padding: 10px 20px;
}
.message.sent {
  background-color: #2b5278;
}
.media {
  width: 100%;
  padding: 15px 5px;
}
