.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title {
  text-align: center;
}
.chat-image {
  width: 60%;
  margin: 5%;
}
